@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Mulish:wght@300;400&family=Playfair+Display:wght@700&display=swap');

html{
	font-size: 62.25%;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

a{
	text-decoration: none;
}

body{
	-webkit-box-sizing:border-box;
	box-sizing: border-box;
	margin: auto;
}

.container{
	max-width: 125rem;
	margin: auto;
}

h1,h2,h3,h4,h5,h6{
	color: #202336;
}

header.bs-header{
	padding: 3rem 23rem 14rem;
}

section{
	padding:12rem 20rem;					
}


img{
	width: 100%;
}

h2.section-title {
    font-size: 3.6rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 2rem;
}

.navigation{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	opacity: 0;
	transition: .5s;
	animation:  fadeInTop 0.5s linear forwards;
	animation-delay:1s;
}

@keyframes fadeInTop 
	{
		0%{
			transform: translateY(-50px);
			opacity: 0;
		}
		100%{
			transform: translateY(0);
			opacity: 1;
		}

	}

.navigation *,select {
	font-family: 'Inter', sans-serif;
	text-transform: capitalize;
}

.navigation-logo{
	margin-right: auto;
}

.navigation-items{
	list-style: none;
}

.navigation-items li{
	display: inline-block;
}

.navigation-items li a{
	color: #B8BECD;
	font-size: 1.6rem;
	transition: all .2s ease;
}

.navigation-items li a.active,.navigation-items li a:hover{
	color: #202336;
}

.navigation a.btn{
	padding: 1rem 3.5rem;
    border: 1px solid #FB8F1D;
    border-radius: .8rem;
    font-size: 15px;
    color:#FB8F1D;
}

.navigation a:not(last-child){
	margin-right: 2rem;
}

.navigation a.btn.register,.explore-btn a,.learn-more a{
	background-color: #FB8F1D;
	color: #fff;
	width: auto;
}

/* Icon 4 */


/*humburger menu icon css*/

#navIcon-toggle {
	display: none;
}

#navIcon-toggle {
	width: 3.5rem;
	height: 4.5rem;
	position: relative;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .5s ease-in-out;
	-moz-transition: .5s ease-in-out;
	-o-transition: .5s ease-in-out;
	transition: .5s ease-in-out;
	cursor: pointer;
	z-index: 99999;
}

#navIcon-toggle span {
	display: block;
	position: absolute;
	height: .3rem;
	width: 100%;
	background: #FB8F1D;
	border-radius: .9rem;
	opacity: 1;
	left: 0;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: .25s ease-in-out;
	-moz-transition: .25s ease-in-out;
	-o-transition: .25s ease-in-out;
	transition: .25s ease-in-out;
}

#navIcon-toggle span:nth-child(1) {
	top: 0rem;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#navIcon-toggle span:nth-child(2) {
	top: 1rem;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#navIcon-toggle span:nth-child(3) {
	top: 2rem;
	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	transform-origin: left center;
}

#navIcon-toggle.open span:nth-child(1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 0rem;
	left: .8rem;
}

#navIcon-toggle.open span:nth-child(2) {
	width: 0%;
	opacity: 0;
}

#navIcon-toggle.open span:nth-child(3) {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 2.3rem;
	left: .8rem;
}

.explore-section {
	position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
}

.explore-info {
	opacity: 0;
    max-width: 44rem;
    transition: .5s;
	animation:  fadeInBottom 0.5s linear forwards;
	animation-delay:1.5s;
}

@keyframes fadeInBottom 
	{
		0%{
			transform: translateY(50px);
			opacity: 0;
		}
		100%{
			transform: translateY(0);
			opacity: 1;
		}

	}

.explore-info h1 {
    font-family: 'Playfair Display', serif;
    font-size: 6.4rem;
    font-weight: bold;
    margin-bottom: 6rem;
    
}

.explore-holiday{
	width: 90%;
}

.explore-holiday h2 {
    font-size: 2.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    margin-bottom: 1.3rem;
}

.divider {
    border: 1px solid;
    width: 3rem;
}

.holiday-form {
    margin: 3rem 0 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.holiday-form select {
    width: 47%;
    margin-right: 0rem;
    padding: 0 1.3rem;
    border: 1px solid #AFB0B9;
    border-radius: .6rem;
    height: 4rem;
    color: #4A4C53;
}

.holiday-form select:nth-child(-n+2) {
    margin-bottom: 2rem;
}

.explore-btn a,.learn-more a{
	padding: 1rem 4.5rem;
	font-family: 'Mulish', sans-serif;
	font-size: 1.7rem;
	font-weight: 700;
	border-radius: .8rem;
}

.element-plus{
	position: absolute;
    width: 2rem;
    height: 2rem;
    transform: rotate3d(1, 1, 1, -17deg);
    top: 14%;
    left: 39%;
    animation: rotate 15s linear infinite, fadeIn .5s linear forwards;
}

@keyframes rotate
{
	0%
	{
		transform: rotate(45deg);
	}
	100%
	{
		transform: rotate(405deg);
	}
}

.element-plus:before,
.element-plus:after{
        content: "";
        position: absolute;
        background-color: #FDD08D;
        transition: transform 0.25s ease-out;
    }

.element-plus:before{
        top: 0;
    	left: 50%;
    	width: .5rem;
    	height: 100%;
    	margin-left: -.2rem;
    }

    /* horizontal line */
    .element-plus:after{
        top: 42%;
    	left: 0;
    	width: 100%;
    	height: .5rem;
}

.circle{
	position: absolute;
    display: block;
    border-radius: 50%;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #BFF0DD,#57D2A3);
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: rotate 15s linear infinite, fadeIn .5s linear forwards;
}

.circle.one{
	top: 50%;
    left: -10%;
    height: 3rem;
    width: 3rem;
	border: double 5px transparent;
}

.circle.two{
	bottom: 0%;
    left: 50%;
    height: 2rem;
    width: 2rem;
    border: double 3px transparent;
}      

.explore-world,.guides-sunny {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position:relative;
}

.explore-world .element-plus{
	top: -5%;
    left: 54%;
}

.explore-world .circle.two {
    bottom: 30%;
    right: 10%;
    left: 85%;
}

.explore-image{
	max-width: 60rem;
}

.explore-image img{
	animation:scaleLarger 1s ease-in-out forwards;
	transform: scale(0);
	animation-delay: 2s;
}

.explore-world-image {
    max-width: 55rem;
}

@keyframes scaleLarger {
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}

.guides-sunny .circle.two{
	top: 20%;
    left: 5%;
} 

.guides-sunny .element-plus{
	top: 3%;
    right: -5%;
    left: auto;
}

.guides-sunny .element-plus.middle{
	top: 70%;
     right: auto; 
    left: 35%;
}    

.explore-world-info,.guides-sunny-info {
    max-width: 44rem;
}



.explore-world-info p,.guides-sunny-info p {
    font-size: 1.7rem;
    font-family: 'Mulish';
    line-height: 3rem;
    color: #7D7987;
    margin-bottom: 3.5rem;
}

.learn-more a{
	font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
}

.features,.trending{
	position: relative;
}

.features .element-plus{
	top: 60%;
    left: -10%;
}

.features .circle.two.top {
    top: -11%;
    right: 15%;
    left: auto;
}

.features .circle.two.bottom {
    bottom: -10%;
    left: 40%;
}

.features-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.features-heading h2{
	margin-bottom: 0rem;
}

a.view-all {
    font-size: 1.7rem;
    font-family: 'inter';
    font-weight: 500;
    color: #FB8F1D;
}

a.view-all span{
	vertical-align: middle;
	border: solid #FB8F1D;
	border-width: 0 2px 2px 0;
}

.features-block,.trending-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-block-items {
    position: relative;
}


.features-block-items img {
    border-radius: .8rem;
}

.overlay-text {
    position: absolute;
    bottom: 0;
    background-color: #fff;
    padding: 1rem 2rem 1rem 00rem;
    border-top-right-radius: .8rem;
    font-family: 'inter';
}

.overlay-text h5 {
    font-size: 1.7rem;
    font-family: 'inter';
    line-height: 2.5rem;
    color: #042521;
}

.overlay-text h6 {
    font-size: 1.5rem;
    font-weight: 500;
    color: #80918E;
}

.testimonials{
	position: relative;
}

.testimonials-blocks .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.testimonials-info {
    max-width: 45rem;
}

.content {
    margin-bottom: 4rem;
}

.testimonials-info p {
    font-size: 2.5rem;
    font-family: Mulish;
    line-height: 3.6rem;
    font-weight: normal;
}
.rating{
	margin-bottom: 2.5rem;
}
.rating span{
	font-size: 5rem;
    color: #FFBB0C;
}

.rating span:not(last-child){
	margin-right: 1.5rem;
}

.person-name{
	font-family: 'Inter';
}

.person-name h4 {
    font-weight: 800;
    font-size: 2.2rem;
    line-height: 4.8rem;
}

.person-name h5 {
    font-size: 1.7rem;
    font-weight: normal;
}

.testimonial-image img {
    border-radius: 1.4rem;
}

.testimonials-nav {
    position: absolute;
    width: 13rem;
    bottom: 2rem;
    right: 0;
    height: 6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 .5rem 0 0rem;
    margin-left: auto;
    float: right;
    text-align: right;
    border-top-left-radius: 2rem;
    z-index: 9;
}


.button-next, .button-prev {
    border: 1px solid #000;
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-prev {
    margin-right: 2rem;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.owl-theme .owl-dots{
	display: none;
}

.testimonials .element-plus{
	width: 3rem;
    height: 3rem;
    bottom: 3%;
    left: 68%;
    top: auto;
    z-index: 9;
}

.testimonials .circle.one{
	top: 13%;
    right: -1%;
    height: 4rem;
    width: 4rem;
    left: auto;
}

.testimonials .circle.two{
	top: 50%;
    left: -13%;
}

section.last{
	padding-bottom: 25rem;
}

.trending-block-items {
	width: 22%;
}

.trending-blocks img{
	border-radius: .8rem .8rem 0 0;
	margin-bottom: 0.8rem;
	width: 100%;
}

.trending-content {
	font-family: 'Inter';
}

.trending-blocks .trending-block-items .trending-content h4{
	font-size: 1.9rem;
	line-height: 3rem;
	font-weight: bold;
	margin-bottom: 0.8rem;
}

.trending-blocks .trending-block-items .trending-content p{
	font-size: 1.8rem;
	color: #7D7987;
	line-height: 2.6rem;
	font-weight: normal;
	margin-bottom: 3rem;
}

.trending-blocks .trending-block-items .trending-content a{
	
	color: #FB8F1D;
	font-size: 1.5rem;
	font-weight: 600;
}

.trending .element-plus {
    top: -15%;
}

.trending .circle.two.middle {
    bottom: 42%;
    left: -7%;
}

.trending .circle.two.bottom {
    left: 68%;
    bottom: -10%;
}

footer{
	background-color: #F9F9FB;
	display: block;
}
footer .footer-main{
	width: 100%;
	padding: 8rem 0rem 0
}

footer .footer-info{
	font-family: 'Mulish';
	height: 100%;
    margin-bottom: 6rem;
    display: flex;
    flex-wrap: wrap;
}

footer .about-text {
    max-width: 50%;
    float: left;
    width: 400px;
}


footer .about-text .details{
	max-width: 34rem;
}

footer .logo{
	margin-bottom: 5.5rem;
}

footer .logo .outer-circle,.navigation-logo .logo .outer-circle{
	width: 4rem;
    height: 4rem;
    border: 1rem solid #1ABE84;
    border-radius: 50%;
    position: relative;
}

footer .logo .outer-circle .inner-cirle,.navigation-logo .logo .outer-circle .inner-circle{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background-color: #FB8F1D;
}

footer .about-text .details p {
	font-weight: 300;
	color:#848484;
	line-height: 2.8rem;
}

footer .about-text .details p.summary{
	font-size: 1.8rem;
	margin-bottom: 2rem;
}

footer .about-text .details p.copyright{
	font-size: 1.7rem;
}

footer .quick-links {
    max-width: 55%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    float: right;
    margin-left: auto;
    flex-wrap: wrap;
}

.quick-links h4 {
    font-weight: bold;
    font-size: 1.9rem;
    margin-bottom: 2rem;
}

.quick-links ul {
    list-style: none;
}

.quick-links ul li {
    line-height: 3.8rem;
    font-size: 1.8rem;
    font-weight: 300;
}

.quick-links ul li a {
    color: #848484;
}

footer.footer .divider {
    width: 100%;
    border-color: #C4C4C4;
}

.social-link {
    padding: 3rem 0;
}

.social-link ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social-link ul li:not(last-child) {
    margin-right: 4rem;
}

@media only screen and (max-width: 90em) {
	html {
		font-size: 55.25%;
	}
	body{
		max-width: 100%;
	}
}

@media only screen and (max-width: 65.25em) {
	html {
		font-size: 50%;
	}
	.navigation a.btn{
		font-size: 2rem;
	}
	.navigation-items li a{
		font-size: 2.2rem;
	}
	.navigation a:not(last-child) {
	    margin-right: 4rem;
	}


	.navigation a.btn{
		padding: 1.5rem 5rem;
	}

	h2.section-title{
		font-size: 4rem;
	}
	.explore-world-info p, .guides-sunny-info p{
		font-size: 2rem;
    	line-height: 3.5rem;
	}
	.explore-info, .explore-world-info, .guides-sunny-info{
		max-width: 45rem;
	}
	header.bs-header,section,footer .footer-main {
    	padding: 3rem 8rem 14rem;
	}
	.explore-holiday {
    	width: 100%;
	}
	.explore-image img,.explore-world-image img,.guides-sunny-image img,.features-block-items img,.testimonials-info,.trending-block-items,.trending-blocks img,footer .about-text,footer .about-text .details,.footer .quick-links {
	    max-width: 100%;
	    width: 100%;
	}
	.explore-image,.explore-world-image,.guides-sunny-image{
		max-width: 55rem;
	}
	.explore-btn a, .learn-more a{
		padding: 1.2rem 5rem;
		font-size: 2.4rem;
	}
	.testimonials-info,.testimonials-image{
		max-width: 50rem;
	}
	.overlay-text{
		width:25rem;
		padding: 1rem 2rem 1rem 00rem;
	}
	.features-block-items,.trending-block-items {
	    max-width: 100%;
	    width: 48%;
	    margin-bottom: 4rem;
	}
	.overlay-text h5,.trending-blocks .trending-block-items .trending-content h4,.testimonials-info p{
		font-size: 3rem;
		line-height: 4rem;
		letter-spacing: .2rem;
	}
	.trending-blocks .trending-block-items .trending-content p{
		font-size: 2rem;
		line-height: 3rem;
	}
	.overlay-text h6{
		font-size: 2rem;
	}
}

@media only screen and (max-width: 50.25em) {
	html {
		font-size: 40.25%;
	}
	
	h2.section-title{
		font-size: 5rem;
	}
	
	.explore-world-info p, .guides-sunny-info p{
		font-size: 2.5rem;
    	line-height: 3.8rem;
    	margin-bottom: 5rem;
	}
	
	.explore-world-image {
	     margin-right: 0rem; 
	}
	
	.overlay-text{
		width:25rem;
		padding: 1rem 2rem 1rem 00rem;
	}
	.overlay-text h5,.trending-blocks .trending-block-items .trending-content h4,.testimonials-info p{
		font-size: 3.2rem;
		line-height: 5rem;
		letter-spacing: .2rem;
		margin-bottom: 1rem
	}
	.overlay-text h6{
		font-size: 2.5rem;
	}
	.testimonials-info,.testimonials-image{
		max-width: 45rem;
	}
	footer .logo {
    	margin-bottom: 4rem;
	}
	
	.testimonials-nav{
		width: 17rem;
		height: 9rem;
	}
	.button-next, .button-prev{
		width: 5.5rem;
    	height: 5.5rem;
	}
	.trending-blocks .trending-block-items .trending-content p, footer .about-text .details p, .person-name h5 {
	    font-size: 2.5rem!important;
	    line-height: 3.5rem;
	}
	footer .about-text .details{
		margin-bottom: 4rem;
	}
	.quick-links h4,.person-name h4{
		font-size: 2.8rem;
	}
	.quick-links ul li{
		font-size: 2.2rem;
	}
	a.view-all,.trending-blocks .trending-block-items .trending-content a{
		font-size: 2.5rem;
	}
}	

@media only screen and (max-width: 37.5em) {
	html {
		font-size: 37.25%;
	}
	
	.explore-section{
		justify-content: center;
		z-index:-1;
	}
	.explore-info,.explore-world-info, .guides-sunny-info {
	     max-width: 100%;
	     order:1; 
	     width: 100%;
	}
	#navIcon-toggle {
		display: block;
	}
	nav{
		z-index: 1010;
	}
	.navigation-items li{
		margin-bottom: 5rem;
		margin-right: 0;
	}
	.navigation-items li a,.navigation a.btn {
	    font-size: 3rem;
	}
	ul.navigation-items {
			position: fixed;
			background-color: #F9F9FB;
			top: 0;
			left: 0;
			right: 0;
			display: none;
			z-index: 1010;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow-y: hidden;
			padding: 10rem 5rem;
		}
	ul.navigation-items.show {
			display: flex;
		}

	.explore-holiday {
    	width: 100%;
	}

	.explore-holiday h2{
		font-size: 3rem;
	}

	.holiday-form select{
		height: 7rem;
	}

	.testimonials-info{
		margin-bottom: 5rem;
	}	
	.explore-image,.explore-world-image,.guides-sunny-image{
		order:2;
		margin-top: 10rem;
		margin-right: 0rem;
	}
	.explore-image, .explore-world-image, .guides-sunny-image {
	    max-width: 100%;
	}
	.explore-image img,.explore-world-image img,.guides-sunny-image img,.features-block-items img,.testimonials-info,.trending-block-items,.trending-blocks img,footer .about-text,footer .about-text .details,.footer .quick-links {
	    max-width: 100%;
	    width: 100%;
	}
	
	.features-block-items,.trending-blocks {
		flex:auto;
		margin-bottom: 4rem;
	}
	.features-block-items, .trending-block-items {
	    max-width: 40rem;
	    width: 100%;
	}
	
	.trending-block-items:not(last-child){
		margin-bottom: 7rem;
	}
	.trending-blocks img{
		margin-bottom: 3rem
	}
	.trending-blocks .trending-block-items .trending-content p,footer .about-text .details p,.person-name h5{
		font-size: 2.5rem!important;
		line-height: 4rem;
	}
	.interests {
	    margin-top: 4rem;
	}
}
@media only screen and (max-width: 27.5em) {
	html {
		font-size: 42.25%;
	}
	.features-block-items,.trending-block-items{
		max-width: 100%;
	}
	h2.section-title {
	    font-size: 3.5rem;
	}
	.element-plus,.circle{
		display: none;
	}
}

.slideanim,.slide-fade {visibility:hidden;}

.slide-animation{
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
	}
	@keyframes slide {
	  0% {
	    opacity: 0;
	    transform: translateY(70%);
	  }
	  100% {
	    opacity: 1;
	    transform: translateY(0%);
	  }
}

.slide-animation-fade{
	animation-name: slideFade;
    -webkit-animation-name: slideFade;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    visibility: visible;
}

@keyframes slideFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
	
